1. Write a Python program to print "Hello, World!

---

In [1]:
print("Hello,World!")

Hello,World!

2.Write a Python program that displays your name and age

In [2]:
name = "Akash"
age = "28"
print(name)
print(age)

Akash
28

3. Write code to print all the pre-defined keywords in Python using the keyword library

In [5]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

4.Write a program that checks if a given word is a Python keyword.

In [8]:
import keyword
user_input = input('enter a word:')
if user_input in keyword.kwlist:
  print('your word is keyword')
else:
  print(user_input,'is not keyword')

enter a word:true
true

5.Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each

In [11]:
lst = ['apple','mango','graphs','orange']
lst[2] = 'banana'
# print(lst)
tup = ('apple','banana','orange','dragon fruit')
# tup[1] = 'graphs'
# print(tup)

6. Write a function to demonstrate the behavior of mutable and immutable arguments.

In [13]:
# nums[0] = 2345   # TypeError: 'int' object does not support item assignment
# print(nums)

# myString = "Hello"
# myString[0:] = "world!" # TypeError: 'str' object does not support item assignment
# print(myString)

# tup = (23,10,16,20)
# tup[2] = 40 # TypeError: 'tuple' object does not support item assignment
# print(tup)
lst = [12,15,19,21]
lst[2] = 23
print(lst)   # [12, 15, 23, 21]

[12, 15, 23, 21]

7. Write a program that performs basic arithmetic operations on two user-input numbers.

In [15]:
user_input1 = int(input('enter 1st number: '))
user_input2 = int(input('Enter 2nd number: '))
addition = user_input1 + user_input2
print(f'Your  {user_input1} and {user_input2} adition is {addition}')

enter 1st number: 14
Enter 2nd number: 15
Your  14 and 15 adition is 29

8.Write a program to demonstrate the use of logical operators.

In [17]:
user_input = int(input('Enter a number:'))
if user_input == 12 and user_input % 2==0:
  print(f'your number {user_input} and even')
else:
  print(f'your number {user_input} not even')

Enter a number:19
your number 19 not even

9.Write a Python program to convert user input from string to integer, float, and boolean types.

In [18]:
input_user = input('enter a no: ')
print('enter data type from list [int,float,boolean]: ')
data_type = input('enter data type for convert: ')
if data_type == 'int':
  print(int(input_user))
elif data_type == 'float':
  print(float(input_user))
elif data_type == 'boolean' or data_type=='bool':
  print(bool(input_user))
else:
  print('enter correct type casting data type')

enter a no22
enter data type from list [int,float,boolean]
enter data type for convertint
22

10. Write code to demonstrate type casting with list elements.

In [21]:
lst = ['5',5,10.5,23]
data_type = int(lst[0])
# print(data_type)
data_type_str = str(lst[1])
# print(data_type_str)
data_type_int = int(lst[2])
data_type_float = float(lst[3])
# print(data_type_float)

23.0

11.Write a program that checks if a number is positive, negative, or zero.

In [24]:
user_inp = int(input('enter a number: '))
if user_inp > 0 :
  print(f'Number {user_inp} is greater than zero')
elif user_inp < 0:
  print(f'Number {user_inp} is negative')
else:
  print(f'Number {user_inp} is zero')

enter a number: 12
Number 12 is greater than zero

12. Write a for loop to print numbers from 1 to 10

In [25]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

13.Write a Python program to find the sum of all even numbers between 1 and 50.

In [26]:
even_np_sum = 0
for i in range(1,51):
  if i % 2 == 0:
    even_np_sum +=i
print(even_np_sum)

650

14. Write a program to reverse a string using a while loop.

In [29]:
myStr = "Hello World!"
n = len(myStr)
while n > 0:
  print(myStr[n-1])
  n-=1

!
d
l
r
o
W

o
l
l
e
H

15.Write a Python program to calculate the factorial of a number provided by the user using a while loop.

In [ ]:
user_fact_input = int(input('enter a number: '))
fact = 1
while user_fact_input > 0:

  fact *= user_fact_input
  user_fact_input -=1
print(fact)