1.What are data structures, and why are they important?

Data structure is term related to strucuring data.It is way to store or manipulate data in organise way do that we can access easily.
Data structure basically depends on memory and variable.If it is stored organise then can access easily.It is reduce line of code and also reduce space in memory that why it is important. some feature are gives here.

*   Organise data
*   Reduce space in memory
*   It store many data types in at one memory location
*   Easily accessible

2.Explain the difference between mutable and immutable data types with examples

Mutable - It is related to allow changes.
Immutable - It is related to doesn't allow to changes.
Mutable datatype - those data types are allow to changes inside same memory location after create that are called muatble data types ex. list,set,dictionary.
Immutable datatypes - those are doesn't allow to any kind of changes in same memory location after create a data with variable.ex string,int,booloean.

In [ ]:
# example of mutable datatypes
lst = [2,9,4,6]
lst[2] = 44
print(lst)

myString = "Hello World!"
myString[2] = 'India'  # 'str' object does not support item assignment
print(myString)

[2, 9, 44, 6]

TypeError: 'str' object does not support item assignment

3. What are the main differences between lists and tuples in Python?

lists - It is unordered mutable hetrogenious datatype.It can allow any changes after create.as i have mentained in last problem
tuple - It is unordered immutable hetrogenious data type.It can not allow to us any changes(add,update,remove) after create.

4. Describe how dictionaries store data

Dictionary - It is key,value pair data type or data structure.It is doesn't allow duplicate key but we can add values in duplicate.It is ordered datastructure that are allow to changes after create.
ex. myDct = {'name':'akash','age':28,2:'kailash'}

5.Why might you use a set instead of a list in Python

set - It is unordered mutable datastructure.It doesn't allow duplicates elements in set.

lists - It is unordered mutable hetrogenious datatype.It can allow any changes after create.
so when we want any datastructure where can store data in organise way that time we prefer set because it does not allow duplicate elements.it occupy less memory also that why we prefer set insted list.also dict doesn't allow list as key.

6.What is a string in Python, and how is it different from a list

string - It is collection of characters in single or double qoutes.string is immutable data types.
list - It is hetrogenious collection of datatypes.it is also mutable.

ex.myString = "Hello world!"
   myString[2]="l"  # it is not supported
   lst = [3,7,"hello",3.67]
   lst[2]="hello world!" # it can
   print(lst)

7.How do tuples ensure data integrity in Python
tuple is immutable datatype so whenever we store data in tuple then we can not update  in same memory location,and that is thing tuple is gives ensure of data integrity.because we can not any changes through the total program.

features of tuple- does not allow changes in tuple after create.It is hashable for dict keys.safe data sharing.
this features are ensures tuple provide data integrity.

In [ ]:
myTuple = (2,7,9)
n = int(input('enter any no: '))
if n in myTuple:
  print('Yes it is available')
else:
  print('No is not available')

enter any no: 7
Yes it is

8.What is a hash table, and how does it relate to dictionaries in Python

Hash table is data structure that provide hash map and it is store data in key value pair.
dictionaries also data structure in python that also store in key and value pair.

9.Can lists contain different data types in Python

Yes,list can contain store different data types like str,int,bool etc.that is called hetrogenious data type.

In [ ]:
# example of list contain different type of data
lst = [2,9.4,6+2j,'hello',True,(3,8,1),{1:'a',2:'b'}]
print(lst)
print(type(lst))

[2, 9.4, (6+2j), 'hello', True, (3, 8, 1), {1: 'a', 2: 'b'}]
<class 'list'>

10.Explain why strings are immutable in Python

string is immutable data type because we can't update it after create in same memory location.but we can change use of it function like replace

11.What advantages do dictionaries offer over lists for certain tasks

dictionary store  data as key,values in memory and it and also store list as values but list can not store in key.values pair.also dictionary does not allow duplicate keys and list as key.so when we want handle data in key,value then we can use dictionary.

12.Describe a scenario where using a tuple would be preferable over a list

Tuple provide security because its immutbale working but list is mutable.so when we want add new or any update tuple can not do this task.
when we want pass any password or security key to whole application.it will send with out any changes.

13.How do sets handle duplicate values in Python

set is built in unordered data type.when we are adding new element in set then it is check wheater it is already exists in set or not.if it then it is skip operation without raise an error.

In [ ]:
mySet = {2,8,4,6}
mySet.add(9)
mySet.add(8) # here check 8 is already in set then skip add operation
print(mySet)

{2, 4, 6, 8, 9}

14.How does the “in” keyword work differently for lists and dictionaries


"in" is indentity keyword in python.when we are check in list then it is check elements and when we check in dictionary then it is check key inside dictionary.

In [ ]:
myLst = ['shere',4,8.67]
print(5 in myLst) # it is check element
myDct={1:'akash',3:'shere'}
print(3 in myDct) # it is check key

False
True

15.Can you modify the elements of a tuple? Explain why or why not

Tuple is immutable data type so we can not change after create a tuple data type.because it is not support to update any data in same memory location after create.

16.What is a nested dictionary, and give an example of its use case

Nested dictionary means a dictionary contains another dictionaries as values.It helps organize complex or grouped data.

In [ ]:
myData = {'data':{'libraries':{'numpy':'2.3.5','pandas':2.1},
                  'python_version':3.11},
          }
myData

{'data': {'libraries': {'numpy': '2.3.5', 'pandas': 2.1},
  'python_version': 3.11}}

17.Describe the time complexity of accessing elements in a dictionary

Time complexity means taking time for getting data from dict.which means it takes constant time regardless of the size of the dictionary.This is because dictionaries are typically implemented using hash tables.
it is TC o(1)

18.In what situations are lists preferred over dictionaries

lists are collection of hetrogenious data types and also it allow duplicates.dict is store in key,values pair.so when we want data store in single elements that time we can use list over dictionary.

19.Why are dictionaries considered unordered, and how does that affect data retrieval

Dict is gives unique keys and does not support indexing like list and tuple.insted of index we use key for accessesing data.

In [ ]:
unOrderDct = {1:'a',3:'d',2:'c',5:'f'}
unOrderDct

{1: 'a', 3: 'd', 2: 'c', 5: 'f'}

20.Explain the difference between a list and a dictionary in terms of data retrieval.

list is hetrogenious ordered duplicate allow elements.but dictionary does not support duplicate ordered data and it store data in key,values pair.
in list we can insert data using index but in dict we use key.

when we want retrive data.list is support index.dict is use key for retrieving data.

In [ ]:
# i want get 4 from list
mylst = [3,9,4,4,5,2,8]
print(mylst[3])

# i want store same data and want to get 4
myDct = {1:3,2:9,3:4,4:4,5:5,6:2,7:8}
print(myDct[3]) # here use key

4
4

# **Practical Problems**

In [ ]:
# 1. Write a code to create a string with your name and print it.
myName = "Akash"
print(myName)

Akash

In [ ]:
# 2. Write a code to find the length of the string "Hello World".
myString = "Hello world"
print(len(myString))

# using for loop
# l =0
# for i in myString:
#   l+=1
# print(l)

11

In [ ]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming"
myChar = "Python Programming"
print(myChar[:3])

# using while
# l = 0
# while l < 3:
#   print(myChar[l],end='')
#   l+=1

Pyt

In [ ]:
# 4.Write a code to convert the string "hello" to uppercase
lowerWord = "hello"
helloWord = lowerWord.upper()
print(helloWord)

HELLO

In [ ]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
words = "I like apple"
print(words.replace('apple','orange'))

I like orange

In [ ]:
# 6.Write a code to create a list with numbers 1 to 5 and print it
lst = []
for i in range(1,6):
  lst.append(i)
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4]
nums = [1,2,3,4]
nums.append(10)
print(nums)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
nums = [1,2,3,4,5]
nums.remove(3)
print(nums)

[1, 2, 4, 5]

In [ ]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

elements = ['a','b','c','d']
print(elements[1])

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10,20,30,40,50]
# print(lst[::-1])

# using for loop
st = 0
end = len(lst)-1
for i in range(len(lst)//2):
  lst[st],lst[end] = lst[end],lst[st]
  st+=1
  end-=1
# print(lst)

In [2]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tupNums = (100,200,300)
print(tupsNums)

(100, 200, 300)

In [6]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red','green','blue','yellow')
print(colors[1:])

('green', 'blue', 'yellow')

In [9]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
nums = (10,20,5,15)
print(min(nums))


# using for loop
# min_val = nums[0]
# for n in nums:
#   if min_val > n:
#     min_val = n
# print(min_val)

5

In [13]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog','cat','rabbit')
print(animals.index('cat'))

# using while loop

# ind_cat = 'cat'
# l = len(animals)
# i=0
# while l > 0:
#   if animals[i] == ind_cat:
#     break
#   i+=1
# print(i)

1

In [17]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('mango','banana','apple','cherry','kiwi','graphs')
check = 'kiwi' in fruits
if check:
  print('Yes Kiwi in fruits')
else:
  print('Not Found')

Yes Kiwi in fruits

In [19]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
mySet = set(('a','b','c'))
print(mySet)

{'b', 'a', 'c'}

In [20]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
mySet = {1,2,3,4,5}
mySet.clear()
print(mySet)

set()

In [22]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
numsSet = {1,2,3,4}
numsSet.remove(4)
print(numsSet)

{1, 2, 3}

In [23]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1,2,3}
set2 = {3,4,5}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

In [24]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 ={1,2,3}
s2 = {2,3,4}
s3 = s1.intersection(s2)
print(s3)

{2, 3}

In [25]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
myData = {"name":"Akshay","age":29,"city":"Pune"}
print(myData)

{'name': 'Akshay', 'age': 29, 'city': 'Pune'}

In [26]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
myDct  = {'name': 'John', 'age': 25}
myDct['country'] = 'USA'
print(myDct)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [27]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
myDict = {'name':'Alice','age':30}
print(myDict.get('name'))

Alice

In [29]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
myDetails = {'name': 'Bob', 'age': 22, 'city': 'New York'}
myDetails.pop('age')
print(myDetails)

{'name': 'Bob', 'city': 'New York'}

In [30]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
details = {'name': 'Alice', 'city': 'Paris'}
print('city' in details)

True

In [31]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [3,4,5,6,2]
tup = (5,9,2,7)
dct = {1:4,2:'a',3:4.66}
print(f'list: {lst}')
print(f'tuple {tup}')
print(f'dictionary: {dct}')

list: [3, 4, 5, 6, 2]
tuple (5, 9, 2, 7)
dictionary: {1: 4, 2: 'a', 3: 4.66}

In [45]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
lst = [45,12,90,23,20]
lst.sort()
print(lst)

# using selection sort
l = len(lst)
for i in range(l):
  min_ind = i
  for j in range(i+1,l):
    if lst[j] < lst[min_ind]:
      min_ind = j
  lst[i],lst[min_ind]  = lst[min_ind],lst[i]
# print(lst)

[12, 20, 23, 45, 90]

In [46]:
# 28. Write a code to create a list with strings and print the element at the third index.
lst = ["hello",'world','how','are','you']
print(lst[3])

are

In [51]:
# 29. Write a code to combine two dictionaries into one and print the result.
dct1 ={'name':'sayali',"age":28,'city':'mumbai'}
dct2 = {'state':'maharashtra','post':440067}
dct1.update(dct2)
print(dct1)

{'name': 'sayali', 'age': 28, 'city': 'mumbai', 'state': 'maharashtra', 'post': 440067}

In [52]:
# 30. Write a code to convert a list of strings into a set.
lstString = ['a','d','f','b','a','c','b']
convertSet = set(lstString)
print(convertSet)

{'a', 'd', 'b', 'f', 'c'}